.wrapper {

	.home {
		height: 700px;
		padding-top: 270px;
		background: $dark_bg_color url('../images/backgrounds/home_bg.png') no-repeat center bottom;
		background-size: cover; //to cover our div by all width

		text-align: center;
		color: $white-color;

		h3 {
			padding-bottom: 40px;

			font: 40px/40px 'droid_serifitalic';
		}

		h1 {
			padding-bottom: 50px;

			font: 75px/75px 'montserratbold';
			text-transform: uppercase;
		}

		.btn_more {
			display: inline-block;
			padding: 20px 30px;
			background: $orange_color;
			border-radius: 4px;
			border: none;

			font: bold 18px/18px 'montserratbold';
			text-transform: uppercase;

			&:hover {
				background: $dark_orange_color;
				color: $white-color;
			}
		}
	} // end of .home

	.services {
		.services-item {
			float: left;
			width: 33.33%;
			padding: 90px 10px 0;

			p {
				font: 14px/24px 'roboto_slabregular';
				letter-spacing: -0.049em;
				color: $grey_font_color;
			}
		}

		.e-commerce {
				background: url(../images/icons/icon_services_ecommerce.png) no-repeat center top;
			}

			.responsive-web {
				background: url(../images/icons/icon_services_responsive_web.png) no-repeat center top;
			}

			.web-security {
				background: url(../images/icons/icon_services_web_security.png) no-repeat center top;
			}
		
		} //end of .services

		.portfolio {
			background-color: $light_bg_color;

			.portfolio-item {
				float: left;
				width: 31%;
				margin-right: 3.5%;
				margin-bottom: 50px;

				background-color: $white-color;
				
				&:nth-child(3n) { //delete right margin for every third item in our list
					margin-right: 0;
				}

				&:nth-last-child(1),
				&:nth-last-child(2),
				&:nth-last-child(3) { //delete bottom margin for last three items
					margin-bottom: 0;
				}

				img {
					width: 100%;
				}

				span {
					font: 14px/14px 'droid_serifitalic';
				}

				.portfolio-item-footer {
					padding: 25px 20px;
				}
			}
		} //end of .portfolio

		.about {			
			.about-item {
				float: left;

				.about-text {
					width: 35%;
					
					h5 {
						line-height: 24px;
						text-transform: none;
					}

					p {
						font: 14px/20px 'roboto_slabregular';
						color: $grey_font_color;
					}
				} // end of .about-text

				.about-img {
					width: 30%;

					img {
						display: inline-block;
						width: 177px;
						height: 177px;

						border: 7px solid $grey_border_color;
						border-radius: 50%;
					}

					&:after { // add vertical line after image
						display: block;
						margin: 0 auto;
						height: 94px;
						width: 3px;

						content: "";
						background-color: $grey_border_color;
					}
				} // end of .about-img
			} // end of .about-item

			.about-link {
					display: inline-block;
					background-color: $orange_color;
					width: 177px;
					height: 177px;
					padding-top: 35px;

					border: 7px solid $grey_border_color;
					border-radius: 50%;					

					font: 18px/26px 'montserratbold';
					color: $white-color;
					text-transform: uppercase;
					text-shadow: 0 1px rgba(0,0,0,0.3);
				} // end of .about-link
		} // end of .about
		
		.team {
			background-color: $light_bg_color;

			.team-wrap {
				margin-bottom: 45px;
			}

			.team-item {
				float: left;
				width: 33.33%;

				img {
					margin-bottom: 15px;
					display: inline-block;
					width: 220px;
					height: 220px;

					border: 7px solid $white_color;
					border-radius: 50%;
				}

				.team-item-footer {
					
					.item-title {
						font-size: 16px/16px;
						text-transform: capitalize;
					}

					span {
						font: 14px/14px 'roboto_slabregular';
						color: $grey_font_color;
					}

					.social {
						margin-top: 10px;

						a {
							display: inline-block; //to set width and height for it
							width: 40px;
							height: 40px;
							margin: 0 3px;
							
							border: 3px solid $dark_bg_color;
							border-radius: 50%;

							background: url(../images/icons/icons_social.png) no-repeat;
						}

						.icon-twitter {
							background-position: -2px -4px;

							&:hover {
								background-color: #00aced;
								border-color: #00aced;
								background-position: -2px -44px;
							}
						}
						.icon-facebook {
							background-position: -42px -4px;

							&:hover {
								background-color: #3b5998;
								border-color: #3b5998;
								background-position: -42px -44px;
							}
						}
						.icon-pinterest {
							background-position: -82px -4px;

							&:hover {
								background-color: #cb2028;
								border-color: #cb2028;
								background-position: -82px -44px;
							}
						}
						.icon-googleplus {
							background-position: -122px -4px;

							&:hover {
								background-color: #d95232;
								border-color: #d95232;
								background-position: -122px -44px;
							}
						}
					} // end of .social
				} // end of .team-item-footer
			} // end of .team-item

			.team-description {
				font: 16px/16px 'roboto_slabregular';
				color: $grey_font_color;
			}
		} // end of .team

		.brands {
			padding: 60px 0;

			a {
				display: inline-block;
				margin-right: 40px;

				&:last-child {
					margin-right: 0;
				}
			}

			img {
				vertical-align: middle;
			}
		}
}