html {
	height: 100%;
}

body {
	height: 100%;
	font: 14px/18px 'Times New Roman', Times, sans-serif;
	background-color: $white-color;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.section {
	padding: 120px 0;
	text-align: center;

	.heading {
		padding-bottom: 80px;
	}

	.title {
		font: bold 40px/75px 'montserratbold';
		text-transform: uppercase;
		color: $dark_bg_color;
	}

	.description {
		margin-bottom: 10px;

		font: 16px 'droid_serifitalic';
		color: $grey_font_color;
	}

	.item-title {
		margin-bottom: 10px;

		font: bold 18px/18px 'montserratbold';
		text-transform: uppercase;
		color: $dark_bg_color;
	}

	.btn_more {
			display: inline-block;
			padding: 20px 30px;
			background: $orange_color;
			border-radius: 4px;
			border: none;

			font: bold 18px/18px 'montserratbold';
			text-transform: uppercase;

			&:hover {
				background: $dark_orange_color;
				color: $white-color;
			}
		}
}

.social {						
	a {
		display: inline-block; //to set width and height for it
		width: 40px;
		height: 40px;
		margin: 0 3px;
							
		border: 3px solid $dark_bg_color;
		border-radius: 50%;

		background: url(../images/icons/icons_social.png) no-repeat;
	}

	.icon-twitter {
		background-position: -2px -4px;

		&:hover {
			background-color: #00aced;
			border-color: #00aced;
			background-position: -2px -44px;
		}
	}

	.icon-facebook {
		background-position: -42px -4px;

		&:hover {
			background-color: #3b5998;
			border-color: #3b5998;
			background-position: -42px -44px;
		}
	}
	.icon-pinterest {
		background-position: -82px -4px;

		&:hover {
			background-color: #cb2028;
			border-color: #cb2028;
			background-position: -82px -44px;
		}
	}
	.icon-googleplus {
		background-position: -122px -4px;

		&:hover {
			background-color: #d95232;
			border-color: #d95232;
			background-position: -122px -44px;
		}
	}
} // end of .social

// to zero out floats
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

// Add styles for placeholders in our send message form
::-webkit-input-placeholder {
	font: 14px/14px 'montserratbold';
	color: $light_grey_font;
	text-transform: uppercase;
}

::-moz-placeholder {
	font: 14px/14px 'montserratbold';
	color: $light_grey_font;
	text-transform: uppercase;
}